<div id="busbooking" class="bussection" style="background-image: url('/assets/images/busbg.jpg');">
    <div class="section-center">
        <div class="container">
            <div class="row">
                
                <div class="col-md-7 col-md-offset-1">
                    <div class="busbooking-form">
                        <form action="https://gsrtc.in/site/">
                            <div class="form-group">
                                <div class="form-checkbox">
                                    <label for="return">
                                        <input type="radio" id="return" name="bus-type">
                                        <span></span><label id="radiolabel">Return</label>
                                    </label>
                                    <label for="one-way">
                                        <input type="radio" id="one-way" name="bus-type">
                                        <span></span><label id="radiolabel">One way</label>
                                    </label>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">From</span>
                                        <input class="form-control" type="text" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">To</span>
                                        <input class="form-control" type="text" placeholder="City">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Departure Date</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Return Date</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Adults</span>
                                        <input class="form-control" type="text" placeholder="No. of adults">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Children</span>
                                        <input class="form-control" type="text" placeholder="No. of adults">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">Book bus</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="busbooking-cta">
                        <h1>Book your bus today</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

