<div id="bookingtrain" style="background-image: url('assets/images/trainsback.jpg');">
    <div class="section-center">
        <div class="container">
            <div class="row">
            <div class="bg-img">
                <div class="trainbooking-form">
                    <form action="https://www.irctc.co.in/nget/train-search">
                        <div class="form-group">
                            <div class="form-checkbox">
                                <label for="TrainTickets">
                                    <input type="radio" id="TrainTickets" name="tickets" checked="true">
                                    <span></span>Train Tickets
                                </label>
                                <label for="PNRstatus">
                                    <input type="radio" id="PNRstatus" name="tickets">
                                    <span></span>PNR Status
                                </label>
                                <label for="TrainStatus">
                                    <input type="radio" id="TrainStatus" name="tickets">
                                    <span></span>Train Status
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Source</span>
                                    <input class="form-control" type="text" placeholder="From*" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Destination</span>
                                    <input class="form-control" type="text" placeholder="To*" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Departing Date</span>
                                    <input class="form-control" type="date" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Travel class</span>
                                    <select class="form-control">
                                        <option>Anubhuti Class</option>
                                        <option>AC 3-Tier</option>
                                        <option>AC 2-Tier</option>
                                        <option>AC First class</option>
                                        <option>AC 3-Economy</option>
                                        <option>AC Chair-Car</option>
                                        <option>Exec. Chair-Car</option>
                                        <option>AC First</option>
                                        <option>Sleeper</option>
                                        <option>Second Sitting</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-btn">
                                    <button class="submit-btn">Show Trains</button>
                                </div>
                            </div>
                        </div>      
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
              <h2 class="mb-5">Get Amazing Expereinces</h2>
            </div>
          </div>
          <div class="row" style="margin: 20px;">
              <div class="col-sm-4 wow fadeInLeft">
                  <div class="card h-80" height="50%" >
                      <div class="inner">
                          <img src="assets/images/trains1.jpg" width="100%" height="300px" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">Manali-Kalka Toy Train</h5>
                          <!-- <p class="card-text"></p> -->
                          <a href="#" class="btn btn-primary">Book Now</a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-4 wow fadeInLeft">
                  <div class="card h-80" height="50%" >
                      <div class="inner">
                          <img src="assets/images/trains2.jpg" width="100%" height="300px" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">Darjeeling Toy Train</h5>
                          <!-- <p class="card-text">Price: 400$ per night</p> -->
                          <a href="#" class="btn btn-primary">Book Now</a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-4 wow fadeInLeft">
                  <div class="card h-80" height="50%" >
                      <div class="inner">
                          <img src="assets/images/trains3.jpg" width="100%" height="300px" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">Nilgiri Railways</h5>
                          <!-- <p class="card-text">Price: 350$ per night</p> -->
                          <a href="#" class="btn btn-primary">Book Now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>